<div class="flash-messages">
  <% flash.each do |name, message| %>
    <div class="<%= flash_method_class(name) %>" role="alert">
      <% message = message.first if (message.is_a?(Array) && message.count == 1) %>
      <% if message.is_a?(String) %>
        <%= message %>
      <% elsif message.is_a?(Array) %>
        <ul class="pl-3 mb-0">
          <% message.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
