@import 'main';
@import 'components/pagination';
@import 'components/table';

.trackings-main {
  min-height: 95vh;
  width: 95vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-image: radial-gradient(#bcecf7ab, $color-white);

  .trackings-table-section {
    margin-top: 2rem;
  }
}
