<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Vessel50</span>
      <span class="heading-primary--sub">A ruby on rails tracking scraper</span>
    </h1>

    <%= link_to 'Scrape Trackings', scrape_trackings_path, class: 'btn btn--white btn--animated' %>
  </div>
</header>
