.table {
  margin: 0 auto;
  font-size: 1.5rem;
  border-collapse: collapse;
  position: relative;
  width: 100%;

  thead tr th {
    padding: 1rem 0;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color-white;
      }

      &:nth-child(even) {
        background-color: transparent;
      }

      td {
        text-align: center;
        padding: 0.8rem 1.2rem;
      }

      margin-bottom: .1rem;
    }

    .list-thumb-link img {
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
      }
    }
  }
}
